{% extends 'base.html' %}

{% block title %}Add Office Time {% endblock %}

{% block content-heading %}
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3 id="custom_panel_heading_id">Office Time Maintenance</h3>
        </div>
        <ul class="panel-controls panel-controls-title">

            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div style="height: 20px;">
                    <h3 style="color: #0077aa" id="custom_message_id">{{ form_message }}</h3>
                </div>
                <div class="block">
                    <div class="page-content-wrap">
                        <div class="row">

                            <div class="col-md-12" id="">

                                <form class="form-horizontal" action="{% url 'attendance:addRegularOfficeTime' 'added' %}" method="post" id="id_dept_form">
                                    {% csrf_token %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Change Office Schedule</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                            <div class="col-md-offset-3 col-md-7">
                                                <label class="check"><input type="checkbox" name="special_office_time" id="id_special_office_time" value="-99" class="icheckbox_minimal-grey"/> Special Recommanded Office Time</label>

                                            </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Location</label>
                                                <div class="col-md-7">
                                                    <select multiple class="form-control select" name="locations" required>
                                                        {% for list in location_list %}
                                                            <option value="{{ list.location_id }}">{{ list.locationName }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Effective From</label>
                                                <div class="col-md-7">
                                                    <input required type="text" class="form-control datepicker" placeholder="Start Date" name="start_date" id="id_startDate">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Entry Time</label>
                                                <div class="col-md-7">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <input type="text" class="form-control timepicker" name="entry_time" id="id_entry_time" value="9:00 AM"/>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Exit Time</label>
                                                <div class="col-md-7">
                                                    <div class="input-group bootstrap-timepicker">
                                                        <input type="text" class="form-control timepicker" name="exit_time" id="id_exit_time" value="6:00 PM"/>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Grace Time</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" name="grace_amount" id="id_grace_amount" placeholder="minutes..."/>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary pull-right"  id="btn_save">Save</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Active Regular Office time List</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table dataTable table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Location</th>
                                    <th>Entry Time</th>
                                    <th>Exit Time</th>
                                    <th>Grace Minute</th>
                                    <th>Effective From</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for list in office_time_list %}
                                <tr id="tr_{{ list.id }}" class="my_row">
                                    <td id="tr_{{ list.id }}_td_1" class="a">{{ forloop.counter }}</td>
                                    <td id="tr_{{ list.id }}_td_2" class="b">{{ list.location_id }}</td>
                                    <td id="tr_{{ list.id }}_td_3" class="c">{{ list.office_start_time }}</td>
                                    <td id="tr_{{ list.id }}_td_4" class="d">{{ list.office_end_time }}</td>
                                    <td id="tr_{{ list.id }}_td_5" class="e">{{ list.grace_amount }} minute(s)</td>
                                    <td id="tr_{{ list.id }}_td_6" class="e">{{ list.start_effective_date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block page_js %}
    {% load staticfiles %}

    <script src="{% static 'attendance/js/plugins/bootstrap/bootstrap-timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'attendance/js/page_customJS/page_addRegularOfficeTime.js' %}"></script>

    <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'attendance/js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/icheck/icheck.min.js' %}"></script>

    <script type='text/javascript' src="{% static 'attendance/js/plugins/validationengine/languages/jquery.validationEngine-en.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/validationengine/jquery.validationEngine.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <script type="text/javascript">
        var jvalidate = $("#id_dept_form").validate({
            ignore: [],
            rules: {

                startDate: {
                    required: true
                },
                grace_amount: {
                    required: true,
                    min: 0,
                    max: 59

                }
                }
            });

    </script>
{% endblock page_js %}