{% extends 'base.html' %}

{% block title %}All SMS List {% endblock %}

{% block content-heading %}
    <div class="panel-heading">
        <div class="panel-title-box">
            <h2 id="custom_panel_heading_id">Approval List</h2>
        </div>
        <ul class="panel-controls panel-controls-title">
            <li>
                <select class="form-control select" name="type" id="id_type">
                    <option value="1">Leave</option>
                    <option value="2">Attendance</option>
                </select>
            </li>
            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div style="height: 20px;">
                    {% if error_message %}
                        <div style="height: 20px; text-align: center">
                            <h3 style="color: #aa1737" id="">{{ error_message }}</h3>
                        </div>
                    {% endif %}
                    <h3 style="color: #0077aa" id="custom_message_id">{{ form_message }}</h3>
                </div>
                <div class="block">

                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="col-md-12">
                            <form class="form-horizontal" action="{% url 'leave:admin_leave_page' %}" method="post" id="id_search_form">
                                    {% csrf_token %}
                                    <div class="panel panel-default">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Select</label>

                                            <div class="col-md-4">
                                                <select class="form-control js-example-basic-single" name="emp_id" id="id_emp_id" required>
                                                    <option value="">Select</option>
                                                    {% for list in active_employee_list %}
                                                        <option value="{{ list.employee_id }}" >{{ list.employeeName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="check"><input type="checkbox" name="all_employee" id="id_all_employee" value="all" class="icheckbox_minimal-grey"/> All Employee</label>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Category</label>

                                            <div class="col-md-4">
                                                <select class="form-control js-example-basic-single" name="category" id="" required>
                                                    <option value="">Select</option>
                                                        <option value="leave" >Leave</option>
                                                        <option value="sms" >Late SMS</option>
                                                </select>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date Range</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control datepicker" placeholder="Start Date" name="startDate" id="id_startDate">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control datepicker" placeholder="End Date" name="endDate" id="id_endDate">
                                            </div>

                                        </div>


                                        <!--
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Date Range</label>
                                            <div class="col-md-7">
                                                <div id="reportrange" class="dtrange">
                                                <span></span><b class="caret"></b>
                                                </div>
                                                <input type="hidden" value="" id="id_hidden_date_range" name="hidden_date_range"/>
                                            </div>

                                        </div>
                                        -->

                                        <div class="panel-footer">
                                            <button class="btn btn-primary pull-right" id="btn_save">Generate <span class="fa fa-list fa-right"></span></button>
                                        </div>
                                    </div>

                                </form>
                                {% if leave_contacts %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Pending Leave Application for Approval</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-responsive table-hover" style="table-layout: fixed;">
                                            <thead>
                                                <tr>
                                                    <th>Applied by</th>
                                                    <th>Leave Type</th>
                                                    <th>Applied To</th>
                                                    <th>Reason</th>
                                                    <th>From Date</th>
                                                    <th>To Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for list in leave_contacts %}
                                                <tr id="tr_{{ list.id }}" class="my_row">
                                                    <td id="tr_{{ list.id }}_td_1" class="a">{{ list.employee_id.employeeName }}</td>
                                                    <td id="tr_{{ list.id }}_td_2" class="b">{{ list.type.name }}</td>
                                                    <td id="tr_{{ list.id }}_td_7">{{ list.endorsed_by.employeeName }}</td>
                                                    <td id="tr_{{ list.id }}_td_3" class="c">{{ list.description }}</td>
                                                    <td id="tr_{{ list.id }}_td_4" class="d">{{ list.date_from }}</td>
                                                    <td id="tr_{{ list.id }}_td_5" class="e">{{ list.date_to }}</td>
                                                    {% if list.endorsement == '0' %}
                                                        <td id="tr_{{ list.id }}_td_6" class="f"><span class="label label-primary">{{ list.get_endorsement_display }}</span></td>
                                                    {% elif list.endorsement == '1' %}
                                                        <td id="tr_{{ list.id }}_td_6" class="f"><span class="label label-warning">{{ list.get_endorsement_display }}</span></td>
                                                    {% elif list.endorsement == '2' %}
                                                        <td id="tr_{{ list.id }}_td_6" class="f"><span class="label label-danger">{{ list.get_endorsement_display }}</span></td>
                                                    {% elif list.endorsement == '3' %}
                                                        <td id="tr_{{ list.id }}_td_6" class="f"><span class="label label-success">{{ list.get_endorsement_display }}</span></td>
                                                    {% endif %}
                                                    <td id="tr_{{ list.id }}_td_7" class="g">
                                                        <a href="{% url 'leave:admin_leave_req_edit' list.id 'reverse' %}">Roll Back</a>
                                                        /
                                                        <a href="{% url 'leave:admin_leave_req_edit' list.id 'delete' %}">Delete</a>

                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                        {% if leave_contacts.has_other_pages %}
                                            <ul class="pagination">
                                                {% if leave_contacts.has_previous %}
                                                    <li><a href="?page={{ leave_contacts.previous_page_number }}">&laquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in leave_contacts.paginator.page_range %}
                                                      {% if leave_contacts.number == i %}
                                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                      {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endif %}
                                                {% endfor %}
                                                {% if leave_contacts.has_next %}
                                                    <li><a href="?page={{ leave_contacts.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}

                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}



                                {% if contacts %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Pending Attendance Application for Approval</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered" style="">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Applied by</th>
                                                    <th>SMS text</th>
                                                    <th>Status</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for list in contacts %}
                                                <tr id="tr_{{ list.id }}" class="my_row">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td id="tr_{{ list.id }}_td_1" class="a">{{ list.date.date|date:"M d, Y" }}</td>
                                                    <td id="tr_{{ list.id }}_td_1" class="g">{{ list.date.time }}</td>
                                                    <td id="tr_{{ list.id }}_td_2" class="b">{{ list.emp_id.employeeName }}</td>
                                                    <td id="tr_{{ list.id }}_td_7" data-toggle="tooltip" data-placement="top" title="{{ list.sms_text }}">{{ list.sms_text|slice:"0:15" }}</td>
                                                    {% if list.isEndorsed == '0' %}
                                                        <td id="tr_{{ list.id }}_td_3" class="c"><span class="label label-primary">{{ list.get_isEndorsed_display}}</span></td>
                                                    {% elif list.isEndorsed == '1' %}
                                                        <td id="tr_{{ list.id }}_td_3" class="c"><span class="label label-warning">{{ list.get_isEndorsed_display}}</span></td>
                                                    {% elif list.isEndorsed == '3' %}
                                                        <td id="tr_{{ list.id }}_td_3" class="c"><span class="label label-warning">{{ list.get_isEndorsed_display}}</span></td>
                                                    {% else %}
                                                        <td id="tr_{{ list.id }}_td_3" class="c"><span class="label label-danger">{{ list.get_isEndorsed_display}}</span></td>
                                                    {% endif %}

                                                    <td id="tr_{{ list.id }}_td_6" class="f">
                                                        <a href="{% url 'leave:admin_sms_attendance_edit' list.id 'reverse' %}">Roll Back</a>
                                                        /
                                                        <a href="{% url 'leave:admin_sms_attendance_edit' list.id 'delete' %}">Delete</a>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                        {% if contacts.has_other_pages %}
                                            <ul class="pagination">
                                                {% if contacts.has_previous %}
                                                    <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&laquo;</span></li>
                                                {% endif %}
                                                {% for i in contacts.paginator.page_range %}
                                                      {% if contacts.number == i %}
                                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                      {% else %}
                                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endif %}
                                                {% endfor %}
                                                {% if contacts.has_next %}
                                                    <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><span>&raquo;</span></li>
                                                {% endif %}

                                            </ul>
                                        {% endif %}
                                    </div>

                                </div>
                                {% else %}
                                <div style="height: 20px;">
                                    <h3 style="color: #0077aa; text-align: center" id="custom_message_id"></h3>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block page_js %}
    {% load staticfiles %}
        <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-timepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-colorpicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
        <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'attendance/js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'attendance/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'attendance/js/page_customJS/app_leave/page_admin_leave_page.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/validationengine/languages/jquery.validationEngine-en.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/validationengine/jquery.validationEngine.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <script type='text/javascript' src="{% static 'attendance/js/plugins/maskedinput/jquery.maskedinput.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
          $(".js-example-basic-single").select2();
        });

    </script>

    <script type="text/javascript">

        jQuery.validator.addMethod("greaterThan",
            function(value, element, params) {

                if (!/Invalid|NaN/.test(new Date(value))) {
                    return new Date(value) >= new Date($(params).val());
                }

                return isNaN(value) && isNaN($(params).val())
                    || (Number(value) > Number($(params).val()));
            },'Must be greater or equal.');


            var jvalidate = $("#id_search_form").validate({
                ignore: [],
                rules: {

                    category: {
                        required: true

                    },
                    startDate: {
                        required: true
                    },
                    endDate: {
                        required: true,
                        greaterThan: "#id_startDate"

                    }
                    }
                });

        $('#id_search_form input:checkbox').change(function(){
            if($(this).is(':checked')){
                $("#id_emp_id").removeAttr('required');

            }
            else{
                $("#id_emp_id").prop('required', true);
            }


    });

        </script>
{% endblock page_js %}