{% extends 'base.html' %}

{% block title %}Leave Category {% endblock %}

{% block content-heading %}
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3 id="custom_panel_heading_id">Add New Leave Category</h3>
        </div>
        <ul class="panel-controls panel-controls-title">
            <li>

            </li>
            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div style="height: 20px;">
                    <h3 style="color: #0077aa" id="custom_message_id">{{ form_message }}</h3>
                </div>
                <div class="block">
                    <div class="page-content-wrap">
                        <div class="row">

                            <div class="col-md-12" id="">

                                <form class="form-horizontal" action="{% url 'leave:addLeaveCategoryPerfomed' %}" method="post" id="id_dept_form">
                                    {% csrf_token %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3>Add New Category</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Category</label>
                                                <div class="col-md-7">
                                                    <input required type="text" class="form-control" value="" name="name" id="id_name" placeholder="Category Name..."/>
                                                    <span id="custom_name_span_id"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Gender</label>
                                                <div class="col-md-7">
                                                    <select class="form-control select" name="leave_category_gender">
                                                        <option selected="selected" value="0">All</option>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Leave Type</label>
                                                <div class="col-md-4">
                                                    <select class="form-control select" name="leave_type_select">
                                                        <option selected="selected" value="0">Yearly</option>
                                                        <option value="1">Special</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" value="0" name="leave_type_text" id="" placeholder="Number"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Entitled</label>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="entitled_radio" value="-1"/> N/A</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="entitled_radio" checked="checked" value="0"/> Yearly</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="entitled_radio"  value="1"/> Job Life</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <input required type="text" class="form-control" value="" name="job_life_entitled" id="" placeholder=""/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Validity</label>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="validity_radio" value="-1"/> N/A</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="validity_radio" checked="checked" value="0"/> Year End</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="check"><input type="radio" class="iradio" name="validity_radio"  value="0"/> For month</label>
                                                </div>
                                                <div class="col-md-1">
                                                    <input required type="text" class="form-control" value="" name="month_validity" id="" placeholder=""/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Minimum days</label>
                                                <div class="col-md-7">
                                                    <input class="form-control" name="minimum_days"/>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-md-offset-3 col-md-4">
                                                    <label class="check"><input type="checkbox" class="icheckbox" name="holiday_skip"/> Holiday skip</label>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <div class="col-md-offset-3 col-md-2">
                                                    <label class="check"><input type="checkbox" class="icheckbox" name="is_forward"/> Is Forward</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input class="form-control" placeholder="Forward Validity month" name="is_forward_value"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Precondition</label>
                                                <div class="col-md-4">
                                                    <input class="form-control" value="0" name="precondition"/>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Approved By</label>
                                                <div class="col-md-7">
                                                    <select class="js-example-basic-single form-control" name="confirmed_by">
                                                        <option selected="selected" value="0">Supervisor</option>
                                                        {% for list in active_employee_list %}
                                                        <option value="{{ list.employee_id.employee_id }}">{{ list.employee_id.employeeName }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Allocation(days)</label>
                                                <div class="col-md-7">
                                                    <input required type="text" class="form-control" value="" id="id_amount" name="amount" placeholder="Total allocated days per year"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Effective From</label>
                                                <div class="col-md-7">
                                                    <input required type="text" class="form-control datepicker" placeholder="Start Date" name="start_date" id="id_startDate">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Description</label>
                                                <div class="col-md-7 col-xs-12">
                                                    <textarea class="form-control" rows="3" name="description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary pull-right"  id="btn_save">
                                                Save
                                                <span class="fa fa-floppy-o fa-right"></span>
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Leave category List</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table dataTable table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Days</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for list in category_list %}
                                                <tr id="tr_{{ list.id }}" class="my_row">
                                                    <td id="tr_{{ list.id }}_td_1" class="a">{{ list.name }}</td>
                                                    <td id="tr_{{ list.id }}_td_2" class="b">{{ list.amount }}</td>
                                                    <td><a href="{% url 'leave:editLeaveCategory' list.id %}">Edit</a></td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block page_js %}
    {% load staticfiles %}
     <script type="text/javascript" src="{% static 'attendance/js/plugins/bootstrap/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'attendance/js/page_customJS/page_leaveCategoryAdd.js' %}"></script>
{% endblock page_js %}