{% extends 'base.html' %}

{% block title %}Designation Add {% endblock %}

{% block content-heading %}
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3 id="custom_panel_heading_id">Add New Designation</h3>
        </div>
        <ul class="panel-controls panel-controls-title">
            <li>
                <button class="btn btn-info pull-right" id="custom_add_btn_id">Add New</button>
            </li>
            <li><a href="#" class="panel-fullscreen rounded"><span class="fa fa-expand"></span></a></li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="height: 20px;">
                                    <h3 style="color: #0077aa" id="custom_message_id">{{ form_message }}</h3>
                                </div>

                               <form class="form-horizontal" action="{% url 'hr:addDesignationPerfomed' %}" method="post" id="id_dept_form">
                                    {% csrf_token %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Designation Name</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" value="" name="designationName" id="id_designationName"/>
                                                    <span id="custom_name_span_id"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Designation Code</label>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" value="" id="id_designationCode" name="designationCode"/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-primary pull-right" id="btn_save">Save <span class="fa fa-floppy-o fa-right"></span></button>
                                        </div>
                                    </div>

                                </form>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Designation Table</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table dataTable table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Designation Name</th>
                                                    <th>Code</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for des in designation_list %}
                                                <tr id="tr_{{ des.des_id }}" class="my_row">
                                                    <td id="tr_{{ des.des_id }}_td_1" class="a">{{ forloop.counter }}</td>
                                                    <td id="tr_{{ des.des_id }}_td_2" class="b">{{ des.designation }}</td>
                                                    <td id="tr_{{ des.des_id }}_td_3" class="c">{{ des.desCode }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block page_js %}
    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'attendance/js/page_customJS/page_addDesignation.js' %}"></script>
{% endblock page_js %}