{% extends 'base.html' %}

{% block title %}New Features {% endblock %}

{% block page_css %}

{% endblock %}

{% block content-heading %}
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3 id="custom_panel_heading_id">New Features on LAMSys</h3>
        </div>
    </div>
{% endblock %}

{% block content %}

        <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="page-content-wrap">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="push-down-0">New Updates</h3>
                                </div>
                                <div class="panel-body faq">

                                    <div class="faq-item">
                                        <div class="faq-title"><span class="fa fa-angle-down"></span>How to aliquam at ipsum sapien?</div>
                                        <div class="faq-text">
                                            <h5>Aliquam at ipsum sapien</h5>
                                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec adipiscing vehicula tortor dapibus adipiscing.</p>
                                            <p>Nullam quis quam massa. Donec vitae metus tortor. Vestibulum vel diam orci. Etiam sollicitudin venenatis justo ut posuere. Etiam facilisis est ut ligula ornare accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                        </div>
                                    </div>

                                    <div class="faq-item">
                                        <div class="faq-title"><span class="fa fa-angle-down"></span>Nunc pellentesque sagittis pulvinar?</div>
                                        <div class="faq-text">
                                            <h5>Pellentesque sagittis pulvinar</h5>
                                            <p>Nunc pellentesque sagittis pulvinar. Donec et bibendum dolor. Praesent commodo facilisis dui, vitae euismod ipsum aliquam gravida. Nulla aliquet fringilla velit sit amet dignissim. Sed justo ex, mattis sed venenatis sit amet, varius at urna. Donec erat nunc, tempus id tortor vel, consequat pulvinar nisl. Donec sed felis in erat malesuada tincidunt pulvinar in lorem.</p>
                                            <p>Etiam rutrum, leo ut molestie hendrerit, quam elit semper nunc, eget ullamcorper sem ligula a nisl. Phasellus aliquam efficitur elit sed ullamcorper. Quisque porttitor ac turpis quis sodales.</p>
                                            <h5>Hendrerit luctus</h5>
                                            <p>Nulla dapibus turpis ornare est hendrerit luctus. Nam id turpis sapien. Quisque non fermentum nisl. In sagittis nibh non dolor condimentum sodales.</p>
                                        </div>
                                    </div>

                                    <div class="faq-item">
                                        <div class="faq-title"><span class="fa fa-angle-down"></span>Donec libero nisl, hendrerit vel tempus at?</div>
                                        <div class="faq-text">
                                            <h5>Cras ac odio faucibus tortor pretium</h5>
                                            <p>Cras ac odio faucibus tortor pretium tristique in id nisl. Donec libero nisl, hendrerit vel tempus at, posuere vel urna. Nam sed consectetur lectus. Sed sit amet risus dolor. Duis accumsan lorem ac quam egestas pretium.</p>
                                            <p>Curabitur finibus nisl ac aliquet mattis. Aliquam convallis bibendum lorem sed lobortis. Cras aliquam urna sed luctus tincidunt.</p>
                                            <h5>Nulla ullamcorper</h5>
                                            <p>In diam turpis, tristique nec cursus in, blandit vel elit. Nulla ullamcorper, ex in ultrices fringilla, nisi sapien hendrerit dolor, in suscipit mauris turpis id erat.</p>
                                            <p>Nunc facilisis odio vitae eros rutrum, eget rutrum nulla rhoncus. Etiam laoreet pretium ex ut gravida. In venenatis turpis sit amet volutpat bibendum.</p>
                                        </div>
                                    </div>



                                </div>
                            </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block notice %}

{% endblock %}


{% block page_js %}
    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'attendance/js/page_customJS/page_addLocation.js' %}"></script>

{#    <!-- START THIS PAGE PLUGINS-->#}
{#    <script type='text/javascript' src={% static 'attendance/js/plugins/icheck/icheck.min.js' %}></script>#}
{#    <script type="text/javascript" src={% static "attendance/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js" %}></script>#}
{##}
{#    <script type="text/javascript" src={% static "attendance/js/plugins/highlight/jquery.highlight-4.js" %}></script>#}
{#    <!-- END THIS PAGE PLUGINS-->#}
    <script type="text/javascript" src={% static "attendance/js/faq.js" %}></script>


{% endblock page_js %}